

<h1>New Categorie</h1>

<div class="card">
    <div class="card-body">
        <form action="/admin/categories/new" method="POST">
            <label for="name">Name: </label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Categorie name"> 
            <br>
            <label for="slug">Slug: </label>
            <input class="form-control" type="text" name="slug" id="slug" placeholder="Categorie slug">
            <br>
            <button class="btn btn-success">Create categorie</button> 
        </form>
    </div>
</div>