<h1>New Post</h1>

<div class="card">
    <div class="card-body">
        <form action="/admin/posts/new" method="post">
            <label for="title">Title:</label>
            <input required class="form-control" type="text" name="title" id="title" placeholder="Title">
            <br>
            <label  for="slug">Slug:</label>
            <input required class="form-control" type="text" name="slug" id="slug" placeholder="Slug">
            <br>
            <label for="description">Description: </label>
            <input required class="form-control" type="text" name="description" id="description" placeholder="Description">
            <br>
            <label for="content">Content: </label>
            <textarea required class="form-control" name="content" id="content" cols="30" rows="10"></textarea>
            <br>
            <label for="category">Category</label>
            <br>
            <select required class="custom-select" name="category" id="category">
                {{#each categories}}
                    <option value="{{_id}}">{{name}}</option>
                {{else}}
                    <option value="0">No categories found</option>
                {{/each}}
            </select>
            <br>
            <button type="submit" class="btn btn-success mt-4">Create Post</button>
        </form>
    </div>
</div>